# Rossmann Store Sales项目的项目文件

## 载入必要的库
首先，需要载入必要的库。

In [83]:
import numpy as np
import xgboost as xgb
import pandas as pd
from IPython.display import display #方便对数据进行可视化

## 数据预处理
### 数据读入
然后，我们需要读入数据。

In [84]:
# 导入训练数据
train_data = pd.read_csv(
    "train.csv", 
    low_memory=False)

store_features = pd.read_csv("store.csv")
# 导入测试数据
test_data = pd.read_csv("test.csv")

# 显示头5条记录

display(train_data.head(n=5))
display(store_features.head(n=5))
display(test_data.head(n=5))

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

然后我们需要将train_data与store_feature按照商店编号（Store这个特征域）融合到一个数据集中。对于test数据也做同样处理。

In [85]:
#融合
train_data = pd.merge(train_data, store_features, on = 'Store')
test_data = pd.merge(test_data, store_features, on = 'Store')
#显示头5条记录
display(train_data.head(n=5))
display(test_data.head(n=5))

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,2015-09-17,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,857,1,3,2015-09-16,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1713,1,2,2015-09-15,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,2569,1,1,2015-09-14,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,3425,1,7,2015-09-13,0.0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

观察test.csv的数据可以发现，Date这个数据都是2015年8月1日之后的，而train.csv的日期最晚到2015年7月31日，而Date数据的类型是字符串，相当于分类数据，直接使用数据将导致test中的Date数据是train中没有出现过的分类，因此要么转换成数值数据，要么把日期拆分成年，月，日3个分类数据。这里将字符串的时间转化为时间戳数值数据。

In [86]:
#将字符串转化为时间戳数值
train_data['Date'] = pd.to_datetime(train_data['Date'])
test_data['Date'] = pd.to_datetime(test_data['Date'])

#然后再把时间戳数值转化为浮点值

train_data['Date'] = pd.to_numeric(train_data['Date'], downcast = 'float')
test_data['Date'] = pd.to_numeric(test_data['Date'], downcast = 'float')

#继续通过显示头5条数据来验证转化情况

display(train_data.head(n=5))
print(type(train_data['Date'][1])) #检验一下转化之后的数据类型
print(train_data['Date'][1]-train_data['Date'][2])
display(test_data.head(n=5))

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,1.438301e+18,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,1,4,1.438214e+18,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1,3,1.438128e+18,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,1,2,1.438042e+18,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,1,1,1.437955e+18,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

<class 'numpy.float32'>
86449100000000.0

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,1.442448e+18,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,857,1,3,1.442362e+18,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1713,1,2,1.442275e+18,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,2569,1,1,1.442189e+18,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,3425,1,7,1.442102e+18,0.0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

可以看到转换后的数值极其的大，我们需要将其归一化

In [87]:
start_date = min(train_data['Date'])
end_date = max(test_data['Date'])
train_data['Date'] = (train_data['Date'] - start_date)/(end_date - start_date)
test_data['Date'] = (test_data['Date'] - start_date)/(end_date - start_date)
#看一下转化后的结果
display(train_data.head(n=5))
display(test_data.head(n=5))

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,0.951466,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,1,4,0.950454,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1,3,0.949443,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,1,2,0.948432,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,1,1,0.947421,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,1.000000,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,857,1,3,0.998988,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1713,1,2,0.997977,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,2569,1,1,0.996967,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,3425,1,7,0.995955,0.0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

观察可以看到，测试集中是没有customer这个特征的，所以在训练集中需要去掉这个特征

In [88]:
train_data = train_data.drop('Customers', axis = 1)

下面把数据切分成特征和标签

In [89]:
sales = train_data['Sales']
features = train_data.drop('Sales', axis = 1)

display(sales.head(n=1))
display(features.head(n=1))

0    5263
Name: Sales, dtype: int64

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,0.951466,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

需要把一些不规范的数据处理一下

In [90]:
# 需要把NA/NAN的数据转化成0
features.fillna(0, inplace = True)
test_data.fillna(0, inplace =True)

display(features.head(n=5))
display(test_data.head(n=5))

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,0.951466,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
1,1,4,0.950454,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
2,1,3,0.949443,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
3,1,2,0.948432,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
4,1,1,0.947421,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,1.000000,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
1,857,1,3,0.998988,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
2,1713,1,2,0.997977,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
3,2569,1,1,0.996967,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
4,3425,1,7,0.995955,0.0,0,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0

In [91]:
# 对字符串特征进行独热编码
category = ['StoreType', 'Assortment', 'PromoInterval', 'StateHoliday']

features_pd = pd.get_dummies(features, columns = category)
test_data_pd = pd.get_dummies(test_data, columns = category)

display(features_pd.head(n=5))
display(test_data_pd.head(n=5))

,Store,DayOfWeek,Date,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,...,Assortment_b,Assortment_c,PromoInterval_0,"PromoInterval_Feb,May,Aug,Nov","PromoInterval_Jan,Apr,Jul,Oct","PromoInterval_Mar,Jun,Sept,Dec",StateHoliday_0,StateHoliday_a,StateHoliday_b,StateHoliday_c
0,1,5,0.951466,1,1,1,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0
1,1,4,0.950454,1,1,1,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0
2,1,3,0.949443,1,1,1,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0
3,1,2,0.948432,1,1,1,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0
4,1,1,0.947421,1,1,1,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0

,Id,Store,DayOfWeek,Date,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,...,StoreType_d,Assortment_a,Assortment_b,Assortment_c,PromoInterval_0,"PromoInterval_Feb,May,Aug,Nov","PromoInterval_Jan,Apr,Jul,Oct","PromoInterval_Mar,Jun,Sept,Dec",StateHoliday_0,StateHoliday_a
0,1,1,4,1.000000,1.0,1,0,1270.0,9.0,2008.0,...,0,1,0,0,1,0,0,0,1,0
1,857,1,3,0.998988,1.0,1,0,1270.0,9.0,2008.0,...,0,1,0,0,1,0,0,0,1,0
2,1713,1,2,0.997977,1.0,1,0,1270.0,9.0,2008.0,...,0,1,0,0,1,0,0,0,1,0
3,2569,1,1,0.996967,1.0,1,0,1270.0,9.0,2008.0,...,0,1,0,0,1,0,0,0,1,0
4,3425,1,7,0.995955,0.0,0,0,1270.0,9.0,2008.0,...,0,1,0,0,1,0,0,0,1,0

可视化可以看到在训练集独热编码后为27列，而测试集只有26列，去掉训练集没有的Id，只有25列，可见测试集中比训练集少了一些类别，需要改变一下编码方式

In [92]:
#首先将训练集和测试集合并，然后统一独热编码，然后再拆分为训练集和测试集
features_test = test_data.drop('Id', axis = 1)
data_merge = pd.concat([features, features_test], ignore_index = True)
data_merge_pd = pd.get_dummies(data_merge, columns = category)
display(data_merge_pd.head(n=5))

#拆分
print(features.shape)
print(features_test.shape)
features_pd = data_merge_pd[0:features.shape[0]]
features_test_pd = data_merge_pd[features.shape[0]:data_merge_pd.shape[0]]
print(features_pd.shape)
print(features_test_pd.shape)

display(features_pd.head(n=5))
display(features_test_pd.head(n=5))

,Store,DayOfWeek,Date,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,...,Assortment_b,Assortment_c,PromoInterval_0,"PromoInterval_Feb,May,Aug,Nov","PromoInterval_Jan,Apr,Jul,Oct","PromoInterval_Mar,Jun,Sept,Dec",StateHoliday_0,StateHoliday_a,StateHoliday_b,StateHoliday_c
0,1,5,0.951466,1.0,1,1,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0
1,1,4,0.950454,1.0,1,1,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0
2,1,3,0.949443,1.0,1,1,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0
3,1,2,0.948432,1.0,1,1,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0
4,1,1,0.947421,1.0,1,1,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0

(1017209, 16)
(41088, 16)
(1017209, 27)
(41088, 27)

,Store,DayOfWeek,Date,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,...,Assortment_b,Assortment_c,PromoInterval_0,"PromoInterval_Feb,May,Aug,Nov","PromoInterval_Jan,Apr,Jul,Oct","PromoInterval_Mar,Jun,Sept,Dec",StateHoliday_0,StateHoliday_a,StateHoliday_b,StateHoliday_c
0,1,5,0.951466,1.0,1,1,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0
1,1,4,0.950454,1.0,1,1,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0
2,1,3,0.949443,1.0,1,1,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0
3,1,2,0.948432,1.0,1,1,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0
4,1,1,0.947421,1.0,1,1,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0

,Store,DayOfWeek,Date,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,...,Assortment_b,Assortment_c,PromoInterval_0,"PromoInterval_Feb,May,Aug,Nov","PromoInterval_Jan,Apr,Jul,Oct","PromoInterval_Mar,Jun,Sept,Dec",StateHoliday_0,StateHoliday_a,StateHoliday_b,StateHoliday_c
1017209,1,4,1.000000,1.0,1,0,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0
1017210,1,3,0.998988,1.0,1,0,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0
1017211,1,2,0.997977,1.0,1,0,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0
1017212,1,1,0.996967,1.0,1,0,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0
1017213,1,7,0.995955,0.0,0,0,1270.0,9.0,2008.0,0,...,0,0,1,0,0,0,1,0,0,0

下面切分数据，把数据切分成训练集和验证集

In [93]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    features_pd, sales, test_size = 0.2, random_state = 1)

display(X_train.head(n=5))
display(y_train.head(n=5))

,Store,DayOfWeek,Date,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,...,Assortment_b,Assortment_c,PromoInterval_0,"PromoInterval_Feb,May,Aug,Nov","PromoInterval_Jan,Apr,Jul,Oct","PromoInterval_Mar,Jun,Sept,Dec",StateHoliday_0,StateHoliday_a,StateHoliday_b,StateHoliday_c
903560,991,2,0.339737,1.0,1,0,1010.0,0.0,0.0,0,...,0,0,1,0,0,0,1,0,0,0
509452,559,5,0.385238,1.0,0,0,3910.0,11.0,2006.0,1,...,0,0,0,1,0,0,1,0,0,0
570376,626,5,0.739130,1.0,0,1,10740.0,11.0,2013.0,0,...,0,1,1,0,0,0,1,0,0,0
264963,292,5,0.165823,1.0,0,0,1100.0,6.0,2009.0,0,...,0,0,1,0,0,0,1,0,0,0
961639,1055,2,0.898887,1.0,0,0,1980.0,4.0,2009.0,0,...,0,0,1,0,0,0,1,0,0,0

903560    7049
509452    4990
570376    9533
264963    5274
961639    6228
Name: Sales, dtype: int64

下面引入模型

对xgboost的使用主要参考了以下资源：
- https://blog.csdn.net/zc02051126/article/details/46771793
- https://blog.csdn.net/u010657489/article/details/51952785
- https://www.analyticsvidhya.com/blog/2016/02/complete-guide-parameter-tuning-gradient-boosting-gbm-python/
- https://blog.csdn.net/u011630575/article/details/79418138
- https://datascience.stackexchange.com/questions/12799/pandas-dataframe-to-dmatrix

In [94]:
dtrain = xgb.DMatrix(X_train, label = y_train)
dval = xgb.DMatrix(X_val, label = y_val)

下面要对模型进行训练

In [98]:
#首先设定参数

param = {'max_depth': 5, 'eta': 0.3, 'silent': 0, 'objective': 'reg:linear'}

#设定迭代次数

num_round = 100

#训练模型，记录训练时间
#定义一个函数，便于后期进行参数调优反复调用

import time
def train(param, dtrain, num_round):
    train_time = time.clock()

    bst = xgb.train(param, dtrain, num_round)

    train_time = time.clock() - train_time

    print('The training time of the model is: {:.0f}s'.format(train_time))
    
    return bst

model = train(param, dtrain, num_round)

The training time of the model is: 120s

In [99]:
#需要定义一个函数来计算均⽅方根百分⽐比误差RMSPE

def rmspe(y, y_hat):
    #由于有yi=0的情况，直接计算会得出无穷大的结果，所以需要处理一下
    #定义一个y_rev来表示y的倒数，y为0时y_rev也赋值为0（因为在项目中提到“ Any day and store with 0 sales is ignored in scoring.“
    y_rev = np.zeros(y.shape, dtype = float)
    n_zero = y != 0
    y_rev[n_zero] = 1./y[n_zero]
    rmspe = np.sqrt(np.mean(((y - y_hat)*y_rev)**2))
    return rmspe

#定义一个打分函数
def score(bst, dval):
    y_pred = bst.predict(dval)
#print(y_pred)
    score = rmspe(y_val, y_pred)
#print(score)
    print('The rmspe of the model on validation data set is {:.6f}'.format(score))
    pass

#来看看验证集上的结果
score(model, dval)

The rmspe of the model on validation data set is 0.254764

可以看到这个得分不高，所以下面进行参数调优，主要参考以下文章
https://www.analyticsvidhya.com/blog/2016/03/complete-guide-parameter-tuning-xgboost-with-codes-python/

In [105]:
#使用sklearn 的gridsearch来调试参数
from sklearn.model_selection import GridSearchCV
param_test = {'max_depth':[3, 5, 10], 'learning_rate':[0.1, 0.2, 0.3], 'n_estimators':range(100, 500, 100)}
gs = GridSearchCV(estimator = xgb.XGBRegressor(
    max_depth = 5, learning_rate = 0.3, n_estimators = 100, objective = 'reg:linear'), 
    param_grid = param_test, cv = 5)
gs.fit(features_pd, sales)
gs.grid_scores_
gs.best_params_
gs.best_score_

/Users/liushengxi/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_search.py:761: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

0.6011407596178118

In [107]:
print(gs.cv_results_)
print(gs.grid_scores_)
print(gs.best_params_)
print(gs.best_score_)

{'mean_fit_time': array([ 38.29500966,  73.33819566, 109.38071952, 148.69739513,
        60.38451915, 119.01575274, 178.62755346, 237.79561958,
       129.90490026, 255.53009043, 380.68921642, 506.24711437,
        36.43985925,  71.65543413, 106.95870748, 141.88957968,
        59.98844581, 118.56307244, 176.3666811 , 234.58779626,
       128.40726099, 254.86822767, 379.01939301, 504.59557786,
        36.37449689,  71.71901202, 106.60218821, 142.4205204 ,
        59.87384772, 118.55770693, 178.29352837, 237.13244195,
       128.11230216, 253.35254169, 378.36284375, 507.19486341]), 'std_fit_time': array([0.81137969, 1.24270424, 1.06789233, 3.64462602, 0.18730294,
       0.54766789, 0.97548006, 1.40017015, 1.54499309, 1.35011651,
       2.03860987, 1.95390807, 0.08487395, 0.39691678, 0.31383511,
       0.63004823, 0.36147024, 1.10875431, 0.94795429, 0.71441602,
       0.6326455 , 1.67959637, 2.32384139, 2.26955966, 0.12063387,
       0.27920965, 0.47108049, 1.06722675, 0.16054269, 0.61968165,
       0.71805817, 0.641064  , 0.62144166, 1.11762057, 1.62121768,
       8.77531583]), 'mean_score_time': array([0.36365857, 0.73387141, 1.12187567, 1.68242154, 0.5738565 ,
       1.29950948, 2.18436995, 3.08773704, 1.54847836, 3.74090738,
       6.195608  , 8.72518873, 0.33010273, 0.6588985 , 1.03617387,
       1.47267461, 0.53607354, 1.18966231, 2.07192783, 2.92734189,
       1.44672742, 3.66128097, 6.15834823, 8.78125539, 0.30348406,
       0.627843  , 0.99946437, 1.44029632, 0.51887488, 1.22476487,
       2.08420482, 2.9981267 , 1.44320173, 3.76012435, 6.41099024,
       9.10518422]), 'std_score_time': array([0.0230715 , 0.02680301, 0.04755178, 0.13154462, 0.01840879,
       0.04904938, 0.07213139, 0.12553542, 0.130729  , 0.15334704,
       0.20591694, 0.15186995, 0.01003287, 0.04080291, 0.05757338,
       0.08015013, 0.01022704, 0.0657874 , 0.08992874, 0.1216305 ,
       0.03855129, 0.11594069, 0.21960381, 0.25846255, 0.00789352,
       0.02981569, 0.06045719, 0.08325323, 0.01062672, 0.05824069,
       0.08044523, 0.11518759, 0.05020759, 0.10585581, 0.1615024 ,
       0.22153642]), 'param_learning_rate': masked_array(data=[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1,
                   0.1, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2,
                   0.2, 0.2, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3,
                   0.3, 0.3, 0.3],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_depth': masked_array(data=[3, 3, 3, 3, 5, 5, 5, 5, 10, 10, 10, 10, 3, 3, 3, 3, 5,
                   5, 5, 5, 10, 10, 10, 10, 3, 3, 3, 3, 5, 5, 5, 5, 10,
                   10, 10, 10],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[100, 200, 300, 400, 100, 200, 300, 400, 100, 200, 300,
                   400, 100, 200, 300, 400, 100, 200, 300, 400, 100, 200,
                   300, 400, 100, 200, 300, 400, 100, 200, 300, 400, 100,
                   200, 300, 400],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 100}, {'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 200}, {'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 300}, {'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 400}, {'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 100}, {'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 200}, {'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 300}, {'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 400}, {'learning_rate': 0.1, 'max_depth': 10, 'n_estimators': 100}, {'learning_rate': 0.1, 'max_depth': 10, 'n_estimators': 200}, {'learning_rate': 0.1, 'max_depth': 10, 'n_estimators': 300}, {'learning_rate': 0.1, 'max_depth': 10, 'n_estimators': 400}, {'learning_rate': 0.2, 'max_depth': 3, 'n_estimators': 100}, {'learning_rate': 0.2, 'max_depth': 3, 'n_estimators': 200}, {'learning_rate': 0.2, 'max_depth': 3, 'n_estimators': 300}, {'learning_rate': 0.2, 'max_depth': 3, 'n_estimators': 400}, {'learning_rate': 0.2, 'max_depth': 5, 'n_estimators': 100}, {'learning_rate': 0.2, 'max_depth': 5, 'n_estimators': 200}, {'learning_rate': 0.2, 'max_depth': 5, 'n_estimators': 300}, {'learning_rate': 0.2, 'max_depth': 5, 'n_estimators': 400}, {'learning_rate': 0.2, 'max_depth': 10, 'n_estimators': 100}, {'learning_rate': 0.2, 'max_depth': 10, 'n_estimators': 200}, {'learning_rate': 0.2, 'max_depth': 10, 'n_estimators': 300}, {'learning_rate': 0.2, 'max_depth': 10, 'n_estimators': 400}, {'learning_rate': 0.3, 'max_depth': 3, 'n_estimators': 100}, {'learning_rate': 0.3, 'max_depth': 3, 'n_estimators': 200}, {'learning_rate': 0.3, 'max_depth': 3, 'n_estimators': 300}, {'learning_rate': 0.3, 'max_depth': 3, 'n_estimators': 400}, {'learning_rate': 0.3, 'max_depth': 5, 'n_estimators': 100}, {'learning_rate': 0.3, 'max_depth': 5, 'n_estimators': 200}, {'learning_rate': 0.3, 'max_depth': 5, 'n_estimators': 300}, {'learning_rate': 0.3, 'max_depth': 5, 'n_estimators': 400}, {'learning_rate': 0.3, 'max_depth': 10, 'n_estimators': 100}, {'learning_rate': 0.3, 'max_depth': 10, 'n_estimators': 200}, {'learning_rate': 0.3, 'max_depth': 10, 'n_estimators': 300}, {'learning_rate': 0.3, 'max_depth': 10, 'n_estimators': 400}], 'split0_test_score': array([0.65397048, 0.60969415, 0.57582276, 0.55970315, 0.6491203 ,
       0.60297494, 0.5809469 , 0.57286377, 0.64273739, 0.63324688,
       0.62738193, 0.62583175, 0.59670479, 0.52829787, 0.50566615,
       0.46476401, 0.5823821 , 0.54320357, 0.53137408, 0.52374385,
       0.6096685 , 0.60473866, 0.60452344, 0.60381636, 0.60340215,
       0.5811049 , 0.55270124, 0.54352575, 0.5242208 , 0.50078545,
       0.50486618, 0.49971921, 0.5311862 , 0.52098435, 0.51921983,
       0.5192802 ]), 'split1_test_score': array([0.57853519, 0.57091547, 0.5729107 , 0.57298891, 0.58603929,
       0.56954356, 0.56568057, 0.54838784, 0.57621436, 0.57121539,
       0.56850619, 0.56645451, 0.57960039, 0.56862333, 0.56275984,
       0.56656598, 0.57616874, 0.56182944, 0.56321618, 0.56544485,
       0.56358621, 0.55801935, 0.55797968, 0.55776398, 0.59076516,
       0.56837389, 0.55980558, 0.56078601, 0.54046668, 0.54632384,
       0.53716967, 0.53580825, 0.54121384, 0.54056853, 0.54074869,
       0.54083674]), 'split2_test_score': array([0.57739088, 0.56873146, 0.5575704 , 0.54648931, 0.57126477,
       0.55648932, 0.54904949, 0.54148329, 0.5581724 , 0.55013986,
       0.54906341, 0.54912188, 0.57403525, 0.56351434, 0.55762631,
       0.55574414, 0.55358586, 0.52563537, 0.51491929, 0.51135908,
       0.53480567, 0.53426152, 0.53389385, 0.53338898, 0.56114607,
       0.54813016, 0.53358445, 0.52648569, 0.53996519, 0.52431828,
       0.518301  , 0.51546386, 0.53426816, 0.53347691, 0.53231278,
       0.53196452]), 'split3_test_score': array([0.57208565, 0.57848056, 0.57908995, 0.57533913, 0.58309772,
       0.59189191, 0.58770993, 0.58331641, 0.56659619, 0.56156816,
       0.55957841, 0.55733367, 0.57530846, 0.56516252, 0.56938162,
       0.57105139, 0.57211302, 0.57065347, 0.57179742, 0.57365065,
       0.56194924, 0.55885778, 0.5577019 , 0.55712776, 0.56474057,
       0.57666777, 0.5728543 , 0.56930401, 0.56155715, 0.55258544,
       0.5522304 , 0.55123617, 0.55453024, 0.55232765, 0.55123089,
       0.55103583]), 'split4_test_score': array([0.61297016, 0.58841564, 0.56112335, 0.5442619 , 0.6161818 ,
       0.59113128, 0.57077034, 0.56051879, 0.60864054, 0.60073552,
       0.59564768, 0.59445647, 0.59224021, 0.56638456, 0.56339631,
       0.5367734 , 0.60110302, 0.59605614, 0.59424652, 0.59187505,
       0.59153015, 0.58598237, 0.58468582, 0.58401229, 0.53600355,
       0.50603992, 0.49964932, 0.49813211, 0.53024977, 0.53958163,
       0.53773909, 0.53888254, 0.58435622, 0.58233068, 0.58093029,
       0.58028979]), 'mean_test_score': array([0.59899046, 0.58324745, 0.56930344, 0.55975649, 0.60114076,
       0.5824062 , 0.57083145, 0.56131402, 0.59047216, 0.58338114,
       0.58003551, 0.57863964, 0.58357781, 0.55839652, 0.55176603,
       0.53897979, 0.57707053, 0.55947556, 0.55511066, 0.55321466,
       0.57230794, 0.56837192, 0.56775692, 0.56722186, 0.57121154,
       0.55606338, 0.54371902, 0.53964675, 0.53929193, 0.53271892,
       0.53006126, 0.528222  , 0.5491109 , 0.54593759, 0.54488846,
       0.54468138]), 'std_test_score': array([0.0310711 , 0.01491076, 0.00843644, 0.01291525, 0.0281938 ,
       0.01688971, 0.01332813, 0.01535239, 0.03123578, 0.03005516,
       0.02827053, 0.02811046, 0.00919367, 0.01514131, 0.02334943,
       0.0389448 , 0.0153798 , 0.02399399, 0.02847641, 0.03060146,
       0.02590404, 0.02446991, 0.02442037, 0.02431906, 0.02367009,
       0.02745338, 0.02542897, 0.02544854, 0.01270019, 0.01853207,
       0.01657737, 0.01830864, 0.01936783, 0.02084248, 0.02084898,
       0.02064002]), 'rank_test_score': array([ 2,  6, 14, 19,  1,  7, 13, 18,  3,  5,  8,  9,  4, 21, 25, 33, 10,
       20, 23, 24, 11, 15, 16, 17, 12, 22, 30, 31, 32, 34, 35, 36, 26, 27,
       28, 29], dtype=int32), 'split0_train_score': array([0.65951972, 0.71889529, 0.7600033 , 0.78548873, 0.75666463,
       0.84475458, 0.8828224 , 0.90380461, 0.93109883, 0.96448407,
       0.97261159, 0.97682367, 0.72126756, 0.78907126, 0.82401368,
       0.84801168, 0.85141029, 0.90633426, 0.92806057, 0.93850199,
       0.96610503, 0.97743436, 0.98187873, 0.98464262, 0.76679378,
       0.82732492, 0.85701893, 0.87679364, 0.88216282, 0.92737552,
       0.94233779, 0.94958124, 0.97285377, 0.98173743, 0.98544045,
       0.98782098]), 'split1_train_score': array([0.67029824, 0.72615968, 0.75928116, 0.78459777, 0.76557854,
       0.8454457 , 0.88262872, 0.90526942, 0.93416937, 0.96406967,
       0.97219785, 0.97645262, 0.73171936, 0.79247912, 0.82478998,
       0.84918789, 0.84572693, 0.90671061, 0.92711563, 0.93693361,
       0.96361426, 0.97626407, 0.98088428, 0.98387518, 0.76768687,
       0.82409552, 0.856408  , 0.87496253, 0.8852805 , 0.92560013,
       0.93977073, 0.94811774, 0.97213818, 0.9812432 , 0.98483589,
       0.98713627]), 'split2_train_score': array([0.67364952, 0.72465063, 0.75927189, 0.78362804, 0.76575627,
       0.84836895, 0.88085465, 0.90583466, 0.94176692, 0.96639614,
       0.97361645, 0.97741073, 0.72600792, 0.79169059, 0.82578669,
       0.84983179, 0.85203584, 0.90651018, 0.92854762, 0.93860729,
       0.96646932, 0.97744744, 0.98164283, 0.98433767, 0.77173018,
       0.82756002, 0.85979622, 0.87974826, 0.89018915, 0.92916497,
       0.94293778, 0.95051196, 0.97266357, 0.98114508, 0.98497696,
       0.98740325]), 'split3_train_score': array([0.68559055, 0.73275405, 0.76393086, 0.7916619 , 0.77221716,
       0.84419564, 0.88142518, 0.90142671, 0.93511916, 0.96547024,
       0.97295192, 0.97679399, 0.73633753, 0.79508239, 0.8282696 ,
       0.85031673, 0.84422085, 0.90125232, 0.92434426, 0.93564969,
       0.96583648, 0.97707422, 0.98133037, 0.98406986, 0.7674073 ,
       0.83244899, 0.86129879, 0.87922429, 0.8915923 , 0.92921481,
       0.94175711, 0.94899493, 0.9721797 , 0.98066528, 0.98452323,
       0.98720266]), 'split4_train_score': array([0.66426405, 0.72476139, 0.76331282, 0.78857376, 0.7716517 ,
       0.85162593, 0.88655404, 0.90563285, 0.94034028, 0.96652472,
       0.97388657, 0.97775671, 0.72933218, 0.789828  , 0.82726984,
       0.84878678, 0.85152761, 0.90634172, 0.92804087, 0.93860806,
       0.96674148, 0.97767406, 0.98213489, 0.98458582, 0.76793632,
       0.82811999, 0.85974659, 0.87962494, 0.89335476, 0.92758939,
       0.9421838 , 0.94994234, 0.97355932, 0.98199186, 0.98563716,
       0.98773659]), 'mean_train_score': array([0.67066442, 0.72544421, 0.76116001, 0.78679004, 0.76637366,
       0.84687816, 0.882857  , 0.90439365, 0.93649891, 0.96538897,
       0.97305288, 0.97704754, 0.72893291, 0.79163027, 0.82602596,
       0.84922697, 0.8489843 , 0.90542982, 0.92722179, 0.93766013,
       0.96575331, 0.97717883, 0.98157422, 0.98430223, 0.76831089,
       0.82790989, 0.8588537 , 0.87807073, 0.88851591, 0.92778896,
       0.94179744, 0.94942964, 0.97267891, 0.98135657, 0.98508274,
       0.98745995]), 'std_train_score': array([0.0089107 , 0.00442561, 0.00203692, 0.00294667, 0.00560862,
       0.00277565, 0.00198902, 0.00164492, 0.00397491, 0.00098695,
       0.00062428, 0.00046972, 0.0051003 , 0.0021184 , 0.00156303,
       0.0008032 , 0.00331562, 0.00209326, 0.00151154, 0.00118946,
       0.00111313, 0.00049607, 0.00043526, 0.00029459, 0.00175153,
       0.00267064, 0.00184455, 0.00188956, 0.00415952, 0.00133628,
       0.00108174, 0.00082065, 0.00051914, 0.00046564, 0.0004051 ,
       0.00027606])}
[mean: 0.59899, std: 0.03107, params: {'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 100}, mean: 0.58325, std: 0.01491, params: {'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 200}, mean: 0.56930, std: 0.00844, params: {'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 300}, mean: 0.55976, std: 0.01292, params: {'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 400}, mean: 0.60114, std: 0.02819, params: {'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 100}, mean: 0.58241, std: 0.01689, params: {'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 200}, mean: 0.57083, std: 0.01333, params: {'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 300}, mean: 0.56131, std: 0.01535, params: {'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 400}, mean: 0.59047, std: 0.03124, params: {'learning_rate': 0.1, 'max_depth': 10, 'n_estimators': 100}, mean: 0.58338, std: 0.03006, params: {'learning_rate': 0.1, 'max_depth': 10, 'n_estimators': 200}, mean: 0.58004, std: 0.02827, params: {'learning_rate': 0.1, 'max_depth': 10, 'n_estimators': 300}, mean: 0.57864, std: 0.02811, params: {'learning_rate': 0.1, 'max_depth': 10, 'n_estimators': 400}, mean: 0.58358, std: 0.00919, params: {'learning_rate': 0.2, 'max_depth': 3, 'n_estimators': 100}, mean: 0.55840, std: 0.01514, params: {'learning_rate': 0.2, 'max_depth': 3, 'n_estimators': 200}, mean: 0.55177, std: 0.02335, params: {'learning_rate': 0.2, 'max_depth': 3, 'n_estimators': 300}, mean: 0.53898, std: 0.03894, params: {'learning_rate': 0.2, 'max_depth': 3, 'n_estimators': 400}, mean: 0.57707, std: 0.01538, params: {'learning_rate': 0.2, 'max_depth': 5, 'n_estimators': 100}, mean: 0.55948, std: 0.02399, params: {'learning_rate': 0.2, 'max_depth': 5, 'n_estimators': 200}, mean: 0.55511, std: 0.02848, params: {'learning_rate': 0.2, 'max_depth': 5, 'n_estimators': 300}, mean: 0.55321, std: 0.03060, params: {'learning_rate': 0.2, 'max_depth': 5, 'n_estimators': 400}, mean: 0.57231, std: 0.02590, params: {'learning_rate': 0.2, 'max_depth': 10, 'n_estimators': 100}, mean: 0.56837, std: 0.02447, params: {'learning_rate': 0.2, 'max_depth': 10, 'n_estimators': 200}, mean: 0.56776, std: 0.02442, params: {'learning_rate': 0.2, 'max_depth': 10, 'n_estimators': 300}, mean: 0.56722, std: 0.02432, params: {'learning_rate': 0.2, 'max_depth': 10, 'n_estimators': 400}, mean: 0.57121, std: 0.02367, params: {'learning_rate': 0.3, 'max_depth': 3, 'n_estimators': 100}, mean: 0.55606, std: 0.02745, params: {'learning_rate': 0.3, 'max_depth': 3, 'n_estimators': 200}, mean: 0.54372, std: 0.02543, params: {'learning_rate': 0.3, 'max_depth': 3, 'n_estimators': 300}, mean: 0.53965, std: 0.02545, params: {'learning_rate': 0.3, 'max_depth': 3, 'n_estimators': 400}, mean: 0.53929, std: 0.01270, params: {'learning_rate': 0.3, 'max_depth': 5, 'n_estimators': 100}, mean: 0.53272, std: 0.01853, params: {'learning_rate': 0.3, 'max_depth': 5, 'n_estimators': 200}, mean: 0.53006, std: 0.01658, params: {'learning_rate': 0.3, 'max_depth': 5, 'n_estimators': 300}, mean: 0.52822, std: 0.01831, params: {'learning_rate': 0.3, 'max_depth': 5, 'n_estimators': 400}, mean: 0.54911, std: 0.01937, params: {'learning_rate': 0.3, 'max_depth': 10, 'n_estimators': 100}, mean: 0.54594, std: 0.02084, params: {'learning_rate': 0.3, 'max_depth': 10, 'n_estimators': 200}, mean: 0.54489, std: 0.02085, params: {'learning_rate': 0.3, 'max_depth': 10, 'n_estimators': 300}, mean: 0.54468, std: 0.02064, params: {'learning_rate': 0.3, 'max_depth': 10, 'n_estimators': 400}]
{'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 100}
0.6011407596178118

/Users/liushengxi/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_search.py:761: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

那么我们尝试用得到的最佳参数再训练一次

In [112]:
#首先设定参数

param = {'max_depth': 5, 'eta': 0.1, 'silent': 0, 'objective': 'reg:linear'}

#设定迭代次数

num_round = 100
model_op1 = train(param, dtrain, num_round)
score(model_op1, dval)

The training time of the model is: 84s
The rmspe of the model on validation data set is 0.368759

效果并不好，可能是过度强调泛化能力，而欠拟合造成的，尝试增加最大深度和迭代次数，并增加学习率

In [111]:
#首先设定参数

param = {'max_depth': 10, 'eta': 0.3, 'silent': 0, 'objective': 'reg:linear'}

#设定迭代次数

num_round = 300
model_op1 = train(param, dtrain, num_round)
score(model_op1, dval)

The training time of the model is: 513s
The rmspe of the model on validation data set is 0.120045

这个结果还不错！在测试集上跑跑看。

下面进行测试

In [113]:
dtest = xgb.DMatrix(features_test_pd)
sales_pred = model_op1.predict(dtest)
submission = pd.DataFrame({'Id':test_data['Id'], 'Sales': sales_pred})
submission.to_csv('xgboost_submit.csv', index = False)